*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    max-width: 1300px;
    margin: auto;
}
/* Header Area */
.side-heading{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Raleway', sans-serif;
}
.side-heading h1{
    font-size: 32px;
    color: #e6a756;
    font-weight: 800;
    text-transform: uppercase;
}
.side-heading p{
    font-size: 80px;
    font-weight: 100;
    line-height: 100px;
    color: #f6e1c5  ;
    text-transform: uppercase;
}

/* Menu Area */
.menu-area{
    background-color: #2e160e;
}
.menu-area ul{
    justify-content: center;
    display: flex;
}
.menu-area ul li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    padding: 40px;
}
.menu-area a{
    color: #c1bab7;
}
.menu-area a:hover{
    color: #69707a;
}


/* Page Section */
.page-section{
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}
.page-section img{
    width: 70%;
    float: right;
}
.box{
    background-color: #f6e1c5;
    width: 540px;
    height: 280px;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
}
.box h3{
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.box h1{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}
.box p{
    line-height: 30px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}
.box .btn{
    background-color: #e6a756;
    border-radius: 10px;
    width: 180px;
    height: 76px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 12.5%;
    margin-left: 161px;
    position: absolute;
}
.box .btn > p{
    font-size: 15px;
    font-weight: bold;
}


/* Page Section 1 */
.page-section-1{
    background-color: #d5994f;
    height: 500px;
    margin-top: 780px;
    align-items: center;
    display: flex;
}
.box-1{
    width: 955px;
    height: 200px;
    border-radius: 10px;
    background-color: #f6e1c5;
    text-align: center;
    padding: 50px;
    border: 7px solid #e5ab62;
}
.box-1 h3{
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.box-1 h1{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin: 10px 20px;
}
.box-1 p{
    line-height: 30px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}


footer{
    background-color: #2f170f;
    /* height: 140px; */
}
footer .text{
    margin-top: 80px;
    padding: 50px;
    /* font-family: 'Raleway', sans-serif; */
}
footer .text > p{
    color: #fff;
    text-align: center;
}
footer .text p > a{
    color: #5389d6;
    font-weight: 800;
    font-size: 20px;
}